@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&family=Raleway:ital,wght@0,400;0,700;1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fffade;
}

section {
  text-align: center;
  margin: auto;
  max-width: 800px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid grey;
}

section > h2 {
  background-color: #639c85;
  color: white;
}

h1 {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

h2 {
  font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
}

p {
  font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

ul {
  text-align: start;
  font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
}

/* Color Section sytling */

.color {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.colorbox {
  width: 124px;
  height: 124px;
  border-radius: 10%;
}

#mainCol {
  background-color: #17c190;
}

#secondCol {
  background-color: #639c85;
}

#fontCol {
  background-color: #7f7382;
}

#backgroundCol {
  background-color: #fffade;
}

#highlightCol {
  background-color: #6b357f;
}

/* Font Section Styling */

.fontcontainer {
  text-align: center;
  width: 45%;
  min-width: 300px;
  margin: 1%;
  display: inline-block;
}

#montserratfont {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
}

#ralewayfont {
  font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
}

h3 {
  font-weight: 500;
  font-size: 24px;
}

/* Text Section Styling */

.stylecontainer {
  text-align: center;
  float: left;
  width: 250px;
  height: 160px;
  margin: 1%;
}

.clear {
  clear: both;
}
